<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    </head>

    <body>
        <div class="center">
            <div class="table">
                <table width="900">
                    <tr>
                        <th class="skima">ユーザ名</th>
                        <th class="skima">メールアドレス</th>
                    </tr>
                    <tr>
                        <th>Userx</a></th>
                        <th>xxxxxxxxx@xxxx.com</th>
                    </tr>
                </table>
            </div>
            <button id="button" onclick="location.href='../edit_info/edit.html'">ユーザ編集</button>
            <button id="button" onclick="location.href='../delete_user/delete.html'">ユーザ削除</button>
            <button id="button" onclick="location.href='../music_data/music_data.html'">楽曲データ</button><br>
            <button id="button" onclick="location.href='../add_user/top_page.html'">戻る</button>
        </div>
    </body>
</html>