<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    </head>

    <body>
        <div class="center">
            <h1>ご利用登録</h1>
            <label for="username"><h2>ユーザ名</h2></label>
            <input type="text" id="username" size="40">

            <h2>メールアドレス</h2>
            <input type="text" size="40"><br>

            <label for="password"><h2>パスワード</h2></label>
            <input type="text" id="password" size="40"><br>
            
            
            <iframe src="./kiyaku.html" width="700" height="100"></iframe><br>

            <button id="button" onclick="location.href='../index.html'">キャンセル</button>
            <button id="button" onclick="location.href='./ok.html'">利用規約に同意して登録</button>
        </div>
    </body>
</html>