<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    </head>

    <body>
        <div class="center">
            <div class="table">
                <table width="900">
                    <tr>
                        <th class="skima">ユーザ名↑↓</th>
                        <th class="skima">メールアドレス</th>
                    </tr>
                    <tr>
                        <th>Userx</a></th>
                        <th>xxxxxxxxx@xxxx.com</th>
                    </tr>
                </table>
            </div>
            <h2>上記のユーザを削除しますか？</h2>
            <h3>管理者パスワード</h3>
            <input type="text" size="40">
            <button onclick="location.href='./ok.html'">削除する</button><br>
            <button id="button" onclick="location.href='../conduct/user.html'">キャンセル</button>
        </div>
    </body>
</html>