<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="./css/application.css">
    </head>

    <body>
        <div class="field">
            <div class="box">
                <h1><a href="../adcence/adcence1.html">広告1</a></h1>
            </div>
            <div class="box">
                <h1><a href="../adcence/adcence2.html">広告2</a></h1>
            </div>
            <div class="box">
                <h1><a href="../adcence/adcence3.html">広告3</a></h1>
            </div>
        </div>
    </body>
</html>