<div class="field">
    <div class ="text">
        <label for="test1"><h2>曲名</h2></label>
        <input type="text" id="test1" name="test1" size="40">
    </div>
    <div class="text">
        <label for="test2"><h2>作曲者</h2></label>
        <input type="text" id="test2" name="test2" size="40">
    </div>
    <div class="select">
        <label for="test3"><h2>グレード</h2></label>
        <select>
            <option value="grade1">1</option>
            <option value="grade2">2</option>
        </select>
    </div>
    <div class="select">
        <label for="test4"><h2>使用楽器</h2></label>
        <select>
            <option value="trampet">トランペット</option>
            <option value="trombone">トロンボーン</option>
        </select>
    </div>
</div>

<div class="center">
    <table width="900">
        <tr>
            <th>曲名</th>
            <th>作曲者</th>
            <th>編曲者</th>
            <th>難易度</th>
            <th>演奏時間</th>
            <th>使用楽器</th>
        </tr>
    </table>
</div>
