<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    </head>

    <body>
        <div class="center">
            <div class="left">
                <h1>Userx情報</h1>
            </div>

            <div class="field">
                <div class="box">
                    <h2>ユーザ名</h2>
                    Userx
                </div>
                <div class="box">
                    <h2>メールアドレス</h2>
                   xxxxxxx@xxxx.com
                </div>
                <div class="box">
                    <h2>パスワード</h2>
                    password  <!-- placeholder -->
                </div>
            </div>
            <h1>↓</h1>
            <div class="field">
                <div class="box">
                    <h2>ユーザ名</h2>
                    Userx
                </div>
                <div class="box">
                    <h2>メールアドレス</h2>
                    xxxxxxx@xxxx.com
                </div>
                <div class="box">
                    <h2>パスワード</h2>
                    password2  <!-- placeholder -->
                </div>
            </div>
            <h2>管理者パスワード</h2>
            <input type="text" size="40">
            <button onclick="location.href='./ok.html'">変更</button><br>
            <button id="button" onclick="location.href='../edit_info/edit.html'">戻る</button>

        </div>
    </body>
</html>