<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    </head>

    <body>
        <div class="center">
            <div class="left">
                <h1>Userx情報</h1>
            </div>

            <div class="field">
                <div class="box">
                    <h2>ユーザ名</h2>
                    <input type="text" size="20" value="Userx">
                </div>
                <div class="box">
                    <h2>メールアドレス</h2>
                    <input type="text" size="20" value="xxxxxxx@xxxx.com">
                    <div class="error">※使用できない文字が含まれています．</div>
                </div>
                <div class="box">
                    <h2>パスワード</h2>
                    <input type="text" size="20" value="password">  <!-- placeholder -->
                </div>
            </div>
            <button id="button" onclick="location.href='./check.html'">確認</button><br>
            <button id="button" onclick="location.href='../conduct/user.html'">戻る</button>

        </div>
    </body>
</html>