<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $(function() {
        $("#footer").load("footer.html");
    });
</script>
    </head>

    <body>
        <div id="footer"></div>
        <div class="center">
            <h1>アカウントを削除しますか？</h1>

            
            <button id="button" onclick="location.href='./delete_user2.html'">はい</button>
            <button id="button" onclick="location.href='../mypage/mypage.html'">キャンセル</button>
        </div>

        <div id="footer"></div>
    </body>
</html>