<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $(function() {
            $("#footer").load("../footer/footer.html");
        });
    </script>
    </head>

    <body>
        <div id="footer"></div>
        <div class="center">
            <h1>xxxが登録されました．</h1>
            <button id="button4" onclick="location.href='../add_user/top_page.html'">続ける</button>
        </div>
    </body>