<DOCUTYPE html>
    <html lang="ja">
    <html>
    <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../css/application.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $(function() {
            $("#footer").load("../footer/footer.html");
        });
    </script>
    </head>

    <body>
        <div id="footer"></div>
        <div class="center">
            <div class="left">
                <h1>曲名</h1>
                <h2>おジャ魔女どれみ</h2>
                <div class="left">
                    <div class="field_music_table">
                        <div class="box">
                            <h2>作曲者</h2>
                            <h3>test</h3>
                        </div>
                        <div class="box">
                            <h2>編曲者</h2>
                            <h3>test</h3>
                        </div>
                        <div class="box">
                            <h2>グレード</h2>
                            <h3>test</h3>
                        </div>
                        <div class="box">
                            <h2>演奏時間</h2>
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
                <h2>使用楽器一覧</h2>
                <div class="field">
                    <div class="box">
                        test<br>
                        test<br>
                        test<br>
                    </div>
                    <div class="box">
                        test<br>
                        test<br>
                        test<br>
                    </div>
                </div>
            </div>
            <h3>上記の内容で登録しますか？</h3>
            <button id="button" onclick="location.href='./ok.html'">登録</button>
        </div>
    </body>
</html>