<DOCUTYPE html>
<html lang="ja">
<html>
<head>
<meta charset="UTF-8" />
<link rel = "stylesheet" href="../css/application.css">
</head>

<body>

    <div class="center">
        <div class="left">
            <h1>ユーザ管理</h1>
        </div>
        <div class="field">
            <div class ="text">
                <label for="test1"><h2>ユーザ名</h2></label>
                <input type="text" id="test1" name="test1" size="40">
            </div>
            <div class="text">
                <label for="test2"><h2>メールアドレス/ユーザID</h2></label>
                <input type="text" id="test2" name="test2" size="40">
            </div>
        </div>

        <div class="table">
            <table width="900">
                <tr>
                    <th class="skima">ユーザ名↑↓</th>
                    <th class="skima">メールアドレス/ユーザID</th>
                </tr>
                <tr>
                    <th><a href="../conduct/user.html">Userx</a></th>
                    <th>xxxxxxxxx@xxxx.com</th>
                </tr>
                <tr>
                    <th>testuser1</th>
                    <th>xxxxx@xxx.com</th>
                </tr>
                <tr>
                    <th>testuser2</th>
                    <th>xxxxxxx@xxxxx.com</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="right">
        <button class="button5" onclick="location.href='../mypage/mypage.html'">管理者情報編集</button>
    </div>
</body>
</html>